#page_home {
    padding: 10px;
    overflow: scroll; 
    overflow: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(2 , 200px);
    justify-items: left;
    align-items: center;
    
}

#page_pubmap {
    padding: 10px;
    overflow: scroll; 
    overflow: auto;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(1, 50px);
    grid-template-columns: repeat(2 , 200px);
    justify-items: left;
    align-items: center;
    
}

#page_help {
    padding: 10px;
    overflow: scroll; 
    overflow: auto;
}

#page_import {
    padding: 40px;
    overflow: scroll; 
    overflow: auto;
}

#page_settings {
    padding: 40px;
    overflow: scroll; 
    overflow: auto;
    display: grid;
    gap: 20px;
}

fieldset {
    width: 275px;
    border: 1px solid #666 !important;
    padding:10px !important;
}

legend {
    padding: 1px 10px !important;
    float:none;
    width:auto;
}


.mdl-data-table__cell--non-numeric {
    text-align: left;
}

.anchor_cell {
    display: block;
}

#pub_map {
    margin: 0;
    padding: 0;
    height: 80%;
  }

#pub_address {
    padding: 10px;
}

#pub_opening {
    padding: 10px;
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
  }
  .mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
  }
  .mdl-textfield--file .mdl-button--file {
    right: 0;
  }